$primary-color: #80b700;
$linear-gradient: linear-gradient(
    90deg,
    rgba(128, 183, 0, 1) 0%,
    rgba(133, 190, 0, 1) 35%,
    rgba(164, 235, 0, 1) 100%
  );
$light-color: white;
$dark-color: black;